<!doctype html>
    <title>Operating System Sucks-Rules-O-Meter</title>
<div class=page>
  <h1>Operating System Sucks-Rules-O-Meter</h1>
  {{ figure|safe }}
  <br>
  <h3 align="right">Last updated {{ updated }}</h3>
  <p>
  <a href="http://srom.zgp.org">Visit the original</a>
  <p>
  This operating system quality metric approval is based on a periodic
  <a href="http://www.bing.com">Bing</a> search for each of several operating
  systems, directly followed by "sucks", "rules", or "rocks".
  <p>
  <a href="https://github.com/bdombrow/SROM">Source Code</a>
  <h4>To Do:</h4>
    <ul>
      <li>Make a FAQ</li>
    </ul>
</div>