<!doctype html>
    <title>Operating System Sucks-Rules-O-Meter</title>
<div class=page>
  <h1>Operating System Sucks-Rules-O-Meter</h1>
  {{ figure|safe }}
  <br>
  <h3 align="right">Last updated {{ updated }}</h3>
  <p>
  Shamelessly copied from<a href="http://srom.zgp.org">the original</a>
  <p>
  This operating system quality metric approval is based on a periodic
  <a href="http://www.bing.com">Bing</a> search for each of several operating
  systems, directly followed by "sucks", "rules", or "rocks".
  <p>
  All operating system names are searched for exactly as shown above, with the
  exceptions of Mac OS, Mac OS X, and VMS. For Mac OS, the search results
  for the incorrect but common spelling "MacOS" are included. Because Mac OS X
  is sometimes abbreviated to simply "OS X", the Mac OS X search is just for
  "OS X" -- other instances of this term have not been found the web, so it can
  be used without confusion. For VMS, the results for "OpenVMS" are included.
  Derogatory slang misspellings of any operating system name are not used.
  <p align="right">
  A <a href="https://github.com/bdombrow/SROM">Python Script</a> updates this
  page and renders the graph.
  <h4>To Do:</h4>
    <ul>
      <li>Make a FAQ</li>
    </ul>
</div>