<!DOCTYPE html>
<html>
  <head>
    <title>Operating System Sucks-Rules-O-Meter</title>
  </head>
  <body>
    <header>
      <div class="container">
        <h1 class="logo">Sucks-Rules-O-Meter</h1>
      </div>
      <strong><nav>
        <ul class="menu">
          <li><a href="{{ url_for('index') }}">Home</a></li>
          <li><a href="{{ url_for('faq') }}">FAQ</a></li>
          <li><a href="{{ url_for('contact') }}">Contact</a></li>
        </ul>
    </header>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
